<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        帳號: <input type="text" v-model="username">
        <br><br>
        密碼: <input type="password" v-model="password">
        <br><br>
        <button @click="logn">登入</button>
        <button @click="reset">重置</button>
    </div>
    <script>
        const app = new Vue ({
            el:'#app',
            data:{
                username:'',
                password:''
            },
            methods:{
              logn(){
                console.log(this.username,this.password);
                this.username = '',
                this.password = ''
              },
              reset(){
                this.username = '',
                this.password = ''
              }
            }
        })
    </script>
</body>
</html>